{
  "presets": ["es2015-node4"],
  "sourceMaps": true,

  "ast": false,
  "comments": true,
  "minified": false,

  "auxiliaryCommentBefore": "$lab:coverage:off$",
  "auxiliaryCommentAfter": "$lab:coverage:on$"
}
